.mainApp {
    background: #2f3533;
    height: 95%;

    .content-body {
        margin-top: 2%;
        background-color: white;
        height: 80%;
        width: 80%;
        margin-left: 8%;
        padding: 2%;
    }
    .ui-menubar {
        background: #08845d;
    }
    .ui-menuitem-text {
        color: white;
    }
}